@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

:root {
  --primary: #fff;
  --secondary: #000;
  --accent-dark: #003B73;
  --accent-light: #F5F7FA;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: 'Poppins', sans-serif;
}

.animated-link {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.animated-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--accent-dark);
  bottom: 0px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}

.animated-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.animated-button {
  position: relative;
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 1px solid var(--accent-dark);
  color: var(--accent-dark);
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.animated-button:hover {
  color: var(--primary);
}


.animated-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  inset: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms;
  background: var(--accent-dark);
  z-index: 0;
  pointer-events: none;
}

.animated-button:hover::before {
  transform-origin: left;
  transform: scale(1);
}

.animated-button .label {
  position: relative;
  z-index: 1;
  transition: color 500ms ease;
  white-space: nowrap;
}

.animated-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  filter: grayscale(.15);
}